* {
gap: 20px;
}


.card {
background: #fff;
width: 30%;
min-width: 250px;
border-radius: 12px;
padding: 15px;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
transition: 0.3s;
}


.card:hover {
transform: translateY(-5px);
box-shadow: 0 5px 12px rgba(0,0,0,0.25);
}


.card img {
width: 100%;
height: 150px;
object-fit: cover;
border-radius: 10px;
margin-bottom: 10px;
}


/* Galeri */
.gallery {
display: flex;
gap: 10px;
flex-wrap: wrap;
}


.gallery img {
width: 23%;
min-width: 150px;
height: 150px;
object-fit: cover;
border-radius: 10px;
transition: 0.3s;
}


.gallery img:hover {
transform: scale(1.05);
}


/* Footer */
footer {
background: #333;
color: white;
text-align: center;
padding: 20px;
margin-top: 30px;
}


/* Tombol Scroll */
#scrollTopBtn {  
position: fixed;
bottom: 20px;
right: 20px;
padding: 12px 15px;
background: #007bff;
color: white;
border: none;
border-radius: 50%;
cursor: pointer;
font-size: 20px;
display: none;
transition: 0.3s;
}


#scrollTopBtn:hover {
background: #005fcc;
}